.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding-bottom: 64px;
        padding-top: 48px;
    }
}

